/**
 * Fazer reset dos elementos base
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


/**
 * Basic styling
 */
body {
  font: $font-weight $font-family;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}


/**
 * Links
 */
a {
  color: $primary-color;
  text-decoration: none;

  &:visited {
    color: $primary-color;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
 
}

.container ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 0;
}

.container img {
  max-width: 100%;
  height: auto;
  padding: 24px 0;
}

.container li {
  margin-bottom: 40px;
}

.container a {
  display: inline-block;
  padding: 12px;
  background: $primary-color;
  color: white;
  text-decoration: none;
}

.container h3 {
  color: $primary-color;
  font-size: 90%;
  padding: 24px 0;
}


.contacto-content a {
  display: inline-block;
  padding-bottom: 50px;
}

.box-skills {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.box-skills span {
  font-weight: bold;
  display: flex;
  padding: 12px;
  margin: 4px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  border: $primary-color solid 1px;
}

blockquote {
  margin: 48px auto;
  padding-left: 200px;
  background-size: 10% 10%;
  background: transparent url(/projeto/assets/img/apostrofo.png) no-repeat;
  transform: rotateZ(-8deg);
  background-position: 0px top;
  border-left: 0px;
  font-size: 2rem;
}

@media all and (min-width: 600px) {

  .box-skills {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  

  .container li {
    margin-bottom: 40px;
    width: 30%;
  }

.box-content {
  width:600px;
  margin:auto;
  h1 {
    color: $primary-color;
    font-size: 4rem;
  }
  div {
    margin-bottom: 48px;
  }
  img {
    padding: 40px 0px;
  }
  a {
    padding: 0px 0px 40px;
    display: inline-block;
  }
  p:last-of-type{
    padding: 0px 0px 40px;
  }
}

blockquote {
font-size: 2.4rem;
background-size: 30%;
}

}


.gui {
  width: 100%;
  margin: auto;
  padding: 20px;
  text-align: left;
}

.gui h2 {
  font-weight: 600;
  font-size: 1.313rem;
  text-align: left;
  
}

.nota {
  font-size: 90%;
  margin-top: 36px;
}

.detalhe-content {
  max-width:600px;
  margin: auto;
  width: 100%;
}


.detalhe-content img {
  max-width: 100%;
  height: auto;
  padding: 24px 0;
}

.detalhe-content div {
  margin-bottom: 50px;
}

.detalhe-content div h3 {
  color: #0288FF;
  font-size: 1.5rem;
  font-weight: 600;
}

.box-color {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

.box-color span {
  width: 100px;
  height: 100%;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: $text-color solid 1px;
}

span.cor1 {
  background-color: #33C2B8;
  color: #FFFFFF;
}

span.cor2 {
  background-color: #364042;
  color: #FFFFFF;
}

span.cor3 {
  background-color: #F1FBFA;
}

span.cor4 {
  background-color: #F3CF5D;
}









