/**
 * Fazer reset dos elementos base
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


/**
 * Basic styling
 */
body {
  font-family: $font-family;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  line-height: 1.5;
}


/**
 * `main` element
 */
main {
  display: block; 
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Figures
 */
figure > img {
  display: block;
}


/**
 * Lists
 */
ul, ol {
  margin-left: 0;
  list-style-type: none;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}


/**
 * Links
 */
a {
  color: $primary-color;
  text-decoration: none;

  &:visited {
    color: $primary-color;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
 
}

.container {
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px 0;
  }

  img {
    max-width: 100%;
    height: auto;
    padding: 24px 0;
  }

  li {
    margin-bottom: 40px;
  }

  a {
    display: inline-block;
    padding: 12px;
    background: $primary-color;
    color: white;
    text-decoration: none;
  }

  h3 {
    color: $primary-color;
    font-size: 90%;
    padding: 24px 0;
  }
}


.contacto-content a {
  display: inline-block;
  padding-bottom: 50px;
}

.box-skills {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  span {
  font-weight: bold;
  display: flex;
  padding: 12px;
  margin: 4px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  border: $primary-color solid 1px;
  }
}

blockquote {
  margin: 48px auto;
  padding-left: 200px;
  background-size: 10% 10%;
  background: transparent url(/projeto/assets/img/apostrofo.png) no-repeat;
  transform: rotateZ(-8deg);
  background-position: 0px top;
  border-left: 0px;
  font-size: 2rem;
}

@media #{ $responsive-medium } {

  .box-skills {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  

  .container li {
    margin-bottom: 40px;
    width: 30%;
  }

.box-content {
  width:600px;
  margin:auto;
  h1 {
    color: $primary-color;
    font-size: 4rem;
  }
  div {
    margin-bottom: 48px;
  }
  img {
    padding: 40px 0px;
  }
  a {
    padding: 0px 0px 40px;
    display: inline-block;
  }
  p:last-of-type{
    padding: 0px 0px 40px;
  }
}

blockquote {
font-size: 2.4rem;
background-size: 30%;
}

}


.gui {
  width: 100%;
  margin: auto;
  padding: 20px;
  text-align: left;
h2 {
  font-weight: 600;
  font-size: 1.313rem;
  text-align: left;
 }
}

.nota {
  font-size: 90%;
  margin-top: 36px;
}

.detalhe-content {
  max-width:600px;
  margin: auto;
  width: 100%;
img {
  max-width: 100%;
  height: auto;
  padding: 24px 0;
}
div {
  margin-bottom: 50px;
}
div h3 {
  color: #0288FF;
  font-size: 1.5rem;
  font-weight: 600;
}
}

.box-color {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
span {
  width: 100px;
  height: 100%;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: $text-color solid 1px;
}
cor1 {
  background-color: #33C2B8;
  color: #FFFFFF;
}
cor2 {
  background-color: #364042;
  color: #FFFFFF;
}
cor3 {
  background-color: #F1FBFA;
}
cor4 {
  background-color: #F3CF5D;
}
}


 .presentation-gui {
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: #0288FF;
  font-size: 4rem;
  display: flex;
  width: 100%;
  margin: auto;
  font-weight: 600;

  @media #{ $responsive-medium } {
      height: 70vh;
      font-size: 8rem;
  }
}

.contacts-gui {
    margin: 48px 0;
a {
  display: inline-block;
  padding-bottom: 50px;
}
h3 {
  font-weight: 400;
}
}


.page-name {
  justify-content: center;
  align-items: center;
  color: #0288FF;
  font-size: 3rem;
  display: flex;
  width: 100%;
  margin: auto;
  font-weight: 400;
  margin-bottom: $space-medium;

  @media #{ $responsive-medium } {
      font-size: 6rem;
  }

}

.animacao-txt {
  animation: animacao-txt 0.7s;
}

@keyframes animacao-txt {
  0% {
  letter-spacing: -0.5em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  opacity: 1;
}
}












