/**
 * Fazer reset dos elementos base
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: $space-zero;
  padding: $space-zero;
}

* {
  box-sizing: border-box;
}


/**
 * Basic styling
 */
body {
  font-family: $font-family;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  line-height: $line-height;
}


/**
 * `main` element
 */
main {
  display: block; 
}


/**
 * Images
 */
img {
  max-width: $space-total;
  vertical-align: middle;
}


/**
 * Figures
 */
figure > img {
  display: block;
}


/**
 * Lists
 */
ul, ol {
  margin-left: $space-zero;
  list-style-type: none;
}

li {
  > ul,
  > ol {
    margin-bottom: $space-zero;
  }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
}


/**
 * Links
 */
a {
  color: $primary-color;
  text-decoration: none;
  &:visited {
    color: $primary-color;
  }
  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


/**
 * Formatação UI
 */
@mixin titulo {
  color: $primary-color;
  font-family: Geneva, Verdana, sans-serif;
}

.container {
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: $space-xlarge $space-zero;
  }
  img {
    max-width: $space-total;
    height: auto;
    padding: $space-xmedium $space-zero;
  }
  li {
    margin-bottom: $space-large;
  }
  a {
    display: inline-block;
    padding: $space-small;
    background: $primary-color;
    color: $neutral-color;
    text-decoration: none;
  }
  h2 {
    @include titulo;
    padding: $space-xmedium $space-zero;
  }
  h3 {
    @include titulo;
    font-size: 90%;
    padding: $space-xmedium $space-zero;
  }
}

.contacto-content a {
  display: inline-block;
  padding-bottom: $space-large;
}

.box-skills {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  span {
    font-weight: bold;
    display: flex;
    padding: $space-small;
    margin: $space-xsmall;
    border-radius: $space-small;
    justify-content: center;
    align-items: center;
    border: $primary-color solid 1px;
  }
}

blockquote {
  @include titulo;
  margin: $space-large auto;
  padding-left: 200px;
  background: transparent url(/projeto/assets/img/apostrofo.png) no-repeat;
  transform: rotateZ(-8deg);
  background-position: $space-zero top;
  border-left: $space-zero;
  font-size: 2rem;
}

.gui {
  width: $space-total;
  margin: auto;
  padding: $space-medium;
  text-align: left;
  h2 {
    font-weight: $font-weight-bold;
    font-size: 1.313rem;
    text-align: left;
  }
}

.nota {
  font-size: 90%;
  margin-top: $space-large;
}

/**
 * Blocos para ecras com mais de 600px
 */
@media #{ $responsive-medium } {
  .box-skills {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .container li {
    margin-bottom: $space-large;
    width: 30%;
  }
  .box-content {
    width:600px;
    margin:auto;
    h1 {
      color: $primary-color;
      font-size: 4rem;
    }
    div {
      margin-bottom: $space-large;
    }
    img {
      padding: $space-large $space-zero;
    }
    a {
      padding: $space-zero $space-zero $space-large;
      display: inline-block;
    }
    p:last-of-type {
      padding: $space-zero $space-zero $space-large;
    }
  }
  blockquote {
    font-size: 2.4rem;
    background-size: 30%;
  }
}

/**
 * Formatação das páginas de detalhe do portfolio
 */
.detalhe-content {
  max-width:600px;
  margin: auto;
  width: $space-total;
  img {
    max-width: $space-total;
    height: auto;
    padding: $space-xmedium $space-zero;
  }
  div {
    margin-bottom: $space-large;
  }
  div h3 {
    @include titulo;
    font-size: 1.8rem;
    margin-bottom: $space-medium;
  }
}

/**
 * Definição das cores do projeto pathfinder
 */
.box-color {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-around;
  padding: $space-medium $space-zero;
  span {
    width: $space-xlarge;
    height: $space-total;
    font-weight: bold;
    padding: $space-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $space-small;
    border: $text-color solid 1px;
  }
  .cor1 {
    background-color: #33C2B8;
    color: $neutral-color;
  }
  .cor2 {
    background-color: #364042;
    color: $neutral-color;
  }
  .cor3 {
    background-color: #F1FBFA;
  }
  .cor4 {
    background-color: #F3CF5D;
  }
}

/**
 * Formatação da homepage
 */
.presentation-gui {
  @include titulo;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 6rem;
  display: flex;
  width: $space-total;
  margin: auto;
  @media #{ $responsive-medium } {
    height: 70vh;
    font-size: 8rem;
  }
}

/**
 * Formatação dos contactos
 */
.contacts-gui {
  margin: $space-large $space-zero;
  a {
    display: inline-block;
    padding-bottom: $space-large;
  }
  h3 {
    font-weight: $font-weight;
  }
}

/**
 * Título de páginas
 */
.page-name {
  @include titulo;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  display: flex;
  width: $space-total;
  margin: auto;
  margin-bottom: $space-medium;
  @media #{ $responsive-medium } {
    font-size: 6rem;
  }
}


/**
 * Animação inicial
 */
.animacao-txt {
  animation: animacao-txt 0.7s;
}

@keyframes animacao-txt {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}












