/**
 * Estilos para o conteudo
 */


 .presentation-gui {
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #0288FF;
    font-size: 4rem;
    display: flex;
    width: 100%;
    margin: auto;
    font-weight: 600;

    @media #{ $responsive-medium } {
        height: 70vh;
        font-size: 8rem;
    }
  }

  .contacts-gui {
      margin: 48px 0;
  }

  .contacts-gui a {
    display: inline-block;
    padding-bottom: 50px;
  }

  .contacts-gui h3 {
    font-weight: 400;
  }


  .page-name {
    justify-content: center;
    align-items: center;
    color: #0288FF;
    font-size: 3rem;
    display: flex;
    width: 100%;
    margin: auto;
    font-weight: 400;
    margin-bottom: $space-medium;

    @media #{ $responsive-medium } {
        font-size: 6rem;
    }

  }


 
