<footer>
  <address>
  <h2>Find more about me</h2>
  <ul>
    <li><a href="https://instagram.com/a_designer_estagiaria" title="Link to Instagram" target="_blank"><img src="/assets/img/instagram.png" alt="Instagram logo" /></a>Instagram</li>
    <li><a href="https://twitter.com/sofiavintem" title="Link to Twitter" target="_blank"><img src="/assets/img/twitter.png" alt="Twitter logo" /></a>Twitter</li>
    <li><a href="https://www.linkedin.com/in/sofia-vintem/" title="Link to Linkedin" target="_blank"><img src="/assets/img/linkedin.png" alt="Linkedin logo" /></a>Linkedin</li>
  </ul>
  <a href="mailto:adesigner.estagiaria@gmail.com" title="Send me an email">Or just send an email</a>
  </address>
  <p>2020 © Sofia Vintém</p>
</footer>
