<div>
	<figure>
		<img src="{{ "/assets/img/me-photo.jpg" | relative_url }}"  alt="{{ page.title }}, photo of sofia">
	</figure>
	<blockquote>
	    Dear reader, allow me to correct you. The question must be "do I design?".
	</blockquote>
	<p>The only reader of my almost famous (and finished) blog asked me once "do you really write?"</p>
	<p>It was at Publicis that I did the only internship with signed paper. It was there that I learned to scan, process, and pay attention to the weight of the dozens of images that illustrated a travel website (Geotur), that I set up the first website in HTML (Quinta Compal) and that I made some graphic proposals. All of these were secondary tasks because my main task was to write weekly about music, theater, and cinema for the Superbock world (superbock.pt). Until the day the director proposed that I dedicate myself to write only, because I was not very good at design - the graphic line of the proposals I presented was neither bold nor irreverent. Although I enjoyed writing, I left shortly thereafter. I was not prepared to give up on a career that had not even started.</p>
	<p>He was right, though. The English expression "keep it simple" defines my work. Likewise, I've always found a discreet room with some details more pleasant than the latest trend room - that nobody stands a few weeks later.</p>
	<p>Dear reader, allow me to correct you. The question must be "do I design?". And I say yes, but only by chance. Had I opted for writing and I wouldn't have any of this to tell.</p>
</div>
   
