@charset "UTF-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #354C58;
  font-size: 1rem;
}

h1,
h2,
h3,
address,
a {
  font-family: Helvetica, Arial, "sans-serif";
  font-style: normal;
}

.navigation {
  padding: 0;
  list-style: none;
  margin: 0;
  background: #FFFFFF;
  border-bottom: solid 2px #F2F4F8;
}

.navigation a { 
  text-align: center; 
  padding: 15px;
  color: #354C58;
  display: block;
  text-decoration: none;
  border-bottom: 5px solid white;
  background-color: white;
}

.navigation a:hover {
  background-color: #0288FF;
  color: #FFFFFF;
  border-bottom: 5px solid #0288FF;
}

.presentation-gui {
  justify-content: center;
  align-items: center;
  height: 70vh;
  color: #0288FF;
  font-size: 4rem;
  display: flex;
  width: 100%;
  margin: auto;
  font-weight: 600;
  overflow: hidden;
}

.page-name {
  justify-content: center;
  align-items: center;
  color: #0288FF;
  font-size: 3rem;
  display: flex;
  width: 100%;
  margin: auto;
  font-weight: 400;
  margin-bottom: 0px;
}

@media all and (min-width: 600px) {
  .navigation a {
    padding: 1em;
  }
  
  .navigation {
    display: flex;
    justify-content: space-around;
  } 

  .navigation a:hover {
    background-color: #FFFFFF;
    color: #354C58;
    border-bottom: 5px solid #0288FF;
  }

  .portfolio-content,
  .contacto-content {
    width:600px;
    margin:auto;
  }

  .container li {
    margin-bottom: 40px;
    width: 30%;
  }

  .presentation-gui {
    height: 70vh;
    font-size: 8rem;
  }

  .page-name {
    font-size: 6rem;
  }
}

.contacto-content div {
  margin:100px 0;
}

.more-about,
.gui {
  display: block;
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #F2F4F8;
  text-align: center;
}

.gui {
 text-align: left;
 background-color: #FFF;
}

.more-about h2,
.gui h2 {
  font-weight: 600;
  font-size: 1.313rem;
  text-transform: uppercase;
  text-align: left;
}

.more-about ul {
  list-style-type: none;
  margin: 36px 0;
  max-width: 800px;
  margin: auto;
  padding: 0 0 20px;
}

.more-about li {
  display: inline-block;
  width: 32%;
  text-align: center;
  font-size: 0.625rem;
  padding: 8px 0px;
  height: 36px;
  overflow: hidden;
}

.more-about li img {
  display: block;
  width: 25px;
  text-align: center;
  margin: auto;
  margin-bottom: 4px;
}

.container ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 0;
}

.container img {
  max-width: 100%;
  height: auto;
}

.contacto-content a {
  display: inline-block;
  padding-bottom: 50px;
}

a.class-teste {
  border-bottom: 5px solid #0288FF;
}

.detalhe-content {
  max-width:600px;
  margin:100px auto;
  width: 100%;
}

.detalhe-content img {
  max-width: 100%;
  height: auto;
}

.detalhe-content div {
  margin-bottom: 50px;
}

.detalhe-content div h3 {
  color: #0288FF;
  font-size: 1.5rem;
  font-weight: 600;
}

.project-name {
  justify-content: center;
  align-items: center;
  color: #0288FF;
  font-size: 6rem;
  display: flex;
  width: 100%;
  margin: auto;
  font-weight: 400;
  margin-bottom: 0px;
}

.box-color {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  justify-content: space-around;
}

.box-color span {
  width: 100px;
  height: 100%;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

span.cor1 {
  background-color: #33C2B8;
  color: #FFFFFF;
}

span.cor2 {
  background-color: #364042;
  color: #FFFFFF;
}

span.cor3 {
  background-color: #F1FBFA;
}

span.cor4 {
  background-color: #F3CF5D;
}

.box-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  justify-content: space-around;
}

.box-skills span {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}